<div class="row">
    <div class="col-12 grid-margin">
      <div class="card">
        <div class="card-body">
          <!-- <h4 class="card-title">Notification</h4> -->
          <h4 class="card-title">
            Notification
            <input
              type="text"
              name="example"
              list="exampleList"
              style="margin-left: 800px; width: 100px"              
              [(ngModel)]="daysLimit"
              (ngModelChange)="onDaysLimitChange()"
            />
            <datalist id="exampleList">
              <option value="5"></option>
              <option value="10"></option>
              <option value="15"></option>
              <option value="20"></option>
            </datalist>
          </h4>
          <div class="table-responsive table-wrapper">
            <ng-container
              *ngIf="employment$ | async as employments; else noDataTemplate"
            >
              <table class="table">
                <thead>
                  <tr>
                    <!-- <th>STT</th> -->
                    <th>Full Name</th>
                    <th>Department</th>
                    <th>Content</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let employment of employments; let i = index">
                    <!-- <td>{{ i + 1 }}</td> -->
                    <td>{{ employment.fullName }}</td>
                    <td>{{ employment.department }}</td>
                    <td>{{ employment.content }}</td>
                  </tr>
                </tbody>
              </table>
            </ng-container>
          </div>
          <ng-template #noDataTemplate>
            <p>No data available.</p>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
  