<div class="row">
  <div class="col-12 grid-margin">
    <div class="card">
      <div class="card-body">
        <!-- <h4 class="card-title">Employee Salary</h4> -->
        <h4 class="card-title">
          {{ title }}
          <input
            type="date"
            id="birthday"
            name="birthday"
            style="width: 23px; border: none"
            [(ngModel)]="selectedDate"
            (ngModelChange)="onFilterChange()"
          />
        </h4>
        <form #form="ngForm">
          <div class="table-responsive table-wrapper">
            <table class="table">
              <thead>
                <tr>
                  <th>STT</th>
                  <th>
                    Full Name
                    <select
                      [(ngModel)]="model.isAscending"
                      name="isAscending"
                      (ngModelChange)="onFilterChange()"
                    >
                      <option [ngValue]="null">Mặc định</option>
                      <option [ngValue]="true">A -> Z</option>
                      <option [ngValue]="false">Z -> A</option>
                    </select>
                  </th>
                  <th>
                    Gender
                    <select
                      [(ngModel)]="model.gender"
                      name="gender"
                      (ngModelChange)="onFilterChange()"
                    >
                      <option value="male">Male</option>
                      <option value="female">Female</option>
                      <option value="other">Other</option>
                    </select>
                  </th>
                  <th>
                    Ethnicity
                    <select
                      [(ngModel)]="model.ethnicity"
                      (ngModelChange)="onFilterChange()"
                      name="ethnicity"
                    >
                      <option
                        *ngFor="let ethnicity of selectedEthnicity"
                        [value]="ethnicity"
                      >
                        {{ ethnicity }}
                      </option>
                    </select>
                  </th>
                  <th>
                    Category
                    <select
                      (ngModelChange)="onFilterChange()"
                      [(ngModel)]="model.category"
                      name="category"
                    >
                      <option value="PartTime">Part Time</option>
                      <option value="FullTime">Full Time</option>
                      <option [ngValue]="['null']">Other</option>
                    </select>
                  </th>
                  <th>
                    Department
                    <select
                      [(ngModel)]="model.department"
                      (ngModelChange)="onFilterChange()"
                      name="department"
                    >
                      <option
                        *ngFor="let department of departments$ | async"
                        value="{{ department }}"
                      >
                        {{ department }}
                      </option>
                    </select>
                  </th>
                  <th>
                    Shareholder
                    <select
                      name="shareholder"
                      id="shareholder"
                      [(ngModel)]="model.shareholderStatus"
                      (ngModelChange)="onFilterChange()"
                    >
                      <option [ngValue]="1">Yes</option>
                      <option [ngValue]="0">No</option>
                      <option [ngValue]="null">All</option>
                    </select>
                  </th>
                  <th>Total</th>
                </tr>
              </thead>
              <ng-container
                *ngIf="
                  employeeSalary$ | async as employeeSalary;
                  else noDataTemplate
                "
              >
                <tbody>
                  <tr *ngFor="let employee of employeeSalary; let i = index">
                    <td>{{ i + 1 }}</td>
                    <td>{{ employee.fullName }}</td>
                    <td>{{ employee.gender }}</td>
                    <td>{{ employee.ethnicity }}</td>
                    <td>{{ employee.category }}</td>
                    <td>{{ employee.department }}</td>
                    <td>
                      <!-- {{ employee.shareholderStatus === 1 ? "True" : "False" }} -->
                      {{ (employee.shareholderStatus === 1) ? "True" : (employee.shareholderStatus === 0 ? "False" : "Khác") }}

                    </td>
                    <td>{{ employee.total }}</td>
                  </tr>
                </tbody>
              </ng-container>
              <ng-template #noDataTemplate>
                <p>No data available.</p>
              </ng-template>
            </table>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
