<div class="row">
  <div class="col-12 grid-margin">
    <div class="card">
      <div class="card-body">
        <!-- <h4 class="card-title">Employee Salary</h4> -->
        <h4 class="card-title">
          {{ title }}
          <input
            type="date"
            id="birthday"
            name="birthday"
            style="width: 23px; border: none"
          />
        </h4>
        <!-- <form #form="ngForm" (ngSubmit)="onSubmit()"> -->
        <div class="table-responsive table-wrapper">
          <ng-container
            *ngIf="
              employeeSalary$ | async as employeeSalary;
              else noDataTemplate
            "
          >
            <table class="table">
              <thead>
                <!-- <tr *ngIf="employeeSalary && employeeSalary.length > 0">      
                  <th *ngFor="let key of objectKeys(employeeSalary[0])">{{ key }}</th>            -->
                <tr>
                  <th>Full Name</th>
                  <th>
                    Gender
                    <select>
                      <option value="male">Male</option>
                      <option value="female">Female</option>
                      <option value="other">Other</option>
                    </select>
                  </th>
                  <th>
                    Ethnicity
                    <select>
                      <option value="male">Male</option>
                      <option value="female">Female</option>
                      <option value="other">Other</option>
                    </select>
                  </th>
                  <th>Category</th>
                  <th>Department</th>
                  <th>Total</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let employee of employeeSalary; let i = index">
                  <!-- <td>{{ i + 1 }}</td> -->
                  <td>{{ employee.fullName }}</td>
                  <td>{{ employee.gender }}</td>
                  <td>{{ employee.ethnicity }}</td>
                  <td>{{ employee.category }}</td>
                  <td>{{ employee.department }}</td>
                  <td>{{ employee.total }}</td>
                </tr>
              </tbody>
            </table>
          </ng-container>
        </div>
        <!-- </form> -->
        <ng-template #noDataTemplate>
          <p>No data available.</p>
        </ng-template>
      </div>
    </div>
  </div>
</div>
