<div class="col-12 grid-margin stretch-card">
  <div class="card">
    <div class="card-body">
      <form #form="ngForm" (ngSubmit)="onFormSubmit()" class="forms-sample">
        <div class="form-group">
          <label for="exampleInputName1">ID</label>
          <input
            type="number"
            class="form-control"
            id="employmentId"
            name="employmentId"
            placeholder="ID Employee"
            [(ngModel)]="model.employmentId"
          />
        </div>
        <div class="form-group">
          <label for="exampleInputName1">First Name</label>
          <input
            type="text"
            class="form-control"
            id="firstName"
            name="firstName"
            placeholder="Name"
            [(ngModel)]="model.firstName"
          />
        </div>
        <div class="form-group">
          <label for="exampleInputName2">Last Name</label>
          <input
            type="text"
            class="form-control"
            id="lastName"
            name="lastName"
            placeholder="Last Name"
            [(ngModel)]="model.lastName"
          />
        </div>
        <div class="form-group">
          <label for="exampleInputName2">Identification code</label>
          <input
            type="number"
            class="form-control"
            id="personalId"
            name="personalId"
            placeholder="Identification code"
            [(ngModel)]="model.personalId"
          />
        </div>
        <div class="form-group">
          <label for="exampleInputName2">Gender</label>
          <select
            class="form-control"
            id="gender"
            name="gender"
            [(ngModel)]="model.gender"
          >
            <option value="male">Male</option>
            <option value="female">Female</option>
            <option value="other">Other</option>
          </select>
          <!-- <input type="text" class="form-control" id="exampleInputName2" placeholder="Gender"> -->
        </div>
        <div class="form-group">
          <label for="exampleInputPassword4">Shareholder Status</label>
          <input
            type="number"
            class="form-control"
            id="shareholderStatus"
            name="shareholderStatus"
            placeholder="Shareholder status"
            [(ngModel)]="model.shareholderStatus"
          />
        </div>
        <div class="form-group">
          <label for="exampleInputName2">Benefit Plan</label>
          <ng-container *ngIf="benefitPlan$ | async as benefitPlans">
            <select
              class="form-control"
              name="benefitPlanId"
              [(ngModel)]="model.benefitPlanId"
              id="benefitPlanId"
            >
              <option
                *ngFor="let benefitPlan of benefitPlans"
                [ngValue]="benefitPlan.benefitPlansId"
              >
                {{ benefitPlan.planName }}
              </option>
            </select>
          </ng-container>
        </div>
        <!-- <div class="form-group">
          <label for="exampleInputPassword4">Birthday</label><br />
          <input
            type="date"
            id="birthday"
            name="birthday"
            style="width: 1015px; height: 50px"
          />
        </div> -->
        <!-- <div class="form-group">
          <label for="exampleInputPassword4">Shareholder_status</label>
          <input
            type="password"
            class="form-control"
            id="exampleInputPassword4"
            placeholder="Password"
          />
        </div> -->
        <div class="form-group">
          <label for="exampleInputPoexampleInputPhone">Phone Number</label>
          <input
            type="text"
            class="form-control"
            id="phoneNumber"
            name="phoneNumber"
            placeholder="Phone"
            [(ngModel)]="model.phoneNumber"
          />
        </div>
        <div class="form-group">
          <label for="exampleInputEmail3">Email</label>
          <input
            type="email"
            class="form-control"
            id="email"
            name="email"
            placeholder="Email"
            [(ngModel)]="model.email"
          />
        </div>
        <div class="form-group">
          <label for="exampleInputAddress">Address</label>
          <input
            type="text"
            class="form-control"
            id="address"
            name="address"
            placeholder="Address"
            [(ngModel)]="model.address"
          />
        </div>
        <div class="form-group">
          <label for="exampleInputSSN">SSN</label>
          <input
            type="number"
            class="form-control"
            id="ssn"
            name="ssn"
            placeholder="SSN"
            [(ngModel)]="model.ssn"
          />
        </div>
        <div class="form-group">
          <label for="exampleInputPayRatesidPay">Pay Rates</label>
          <ng-container *ngIf="payRates$ | async as payRates">
            <select
              class="form-control"
              name="payRateId"
              id="payRateId"
              [(ngModel)]="model.payRatesIdPayRates"
            >
              <option
                *ngFor="let payRate of payRates"
                [ngValue]="payRate.idPayRates"
              >
                {{ payRate.payRateName }}
              </option>
            </select>
          </ng-container>  
        </div>
        <div class="form-group">
          <label for="exampleInputPayRatesidPay">Department</label>
          <ng-container *ngIf="departments$ | async as departments">
            <select
              class="form-control"
              name="department"
              id="department"
              [(ngModel)]="model.department"
            >
              <option
                *ngFor="let department of departments$ | async"
                value="{{ department }}"
              >
                {{ department }}
              </option>
            </select>
          </ng-container>
        </div>
        <!-- <div class="form-group">
          <label for="exampleInputValue">Value</label>
         
          <input
            type="text"
            class="form-control"
            id="exampleInputValue"
            placeholder=""
          />
        </div> -->
        <!-- <div class="form-group">
          <label for="exampleInputTax">Tax Percentage</label>
          <input
            type="number"
            class="form-control"
            id="exampleInputTax"
            placeholder="Phone"
          />
        </div>
        <div class="form-group">
          <label for="exampleInputPayType">Pay Type</label>
          <input
            type="number"
            class="form-control"
            id="exampleInputPayType"
            placeholder="Phone"
          />
        </div>
        <div class="form-group">
          <label for="exampleInputPayAmount">Pay Amount</label>
          <input
            type="number"
            class="form-control"
            id="exampleInputPayAmount"
            placeholder="Phone"
          />
        </div> -->
        <button type="register" class="btn btn-gradient-primary me-2">
          Register
        </button>
      </form>
    </div>
  </div>
</div>
