.form-group {
    margin-bottom: 1.5rem;
}

.input-group-append,
.input-group-prepend {
    color: #c9c8c8;
    width: auto;
    border: none;
}

.input-group-append .input-group-text,
.input-group-prepend .input-group-text {
    border-color: #ebedf2;
    padding: 0.94rem 0.75rem;
    color: #c9c8c8;
}

.form-control {
    border: 1px solid #ebedf2;
    font-family: "ubuntu-regular", sans-serif;
    font-size: 0.8125rem;
}

.form-control:focus {
    background-color: #ffffff;
    color: #000000;
    outline: none;
}

select.form-control {
    padding: .4375rem .75rem;
    border: 0;
    outline: 1px solid #ebedf2;
    color: #c9c8c8;
}

select.form-control:focus {
    outline: 1px solid #ebedf2;
}

select.form-control.border-primary {
    outline: 1px solid #b66dff;
}

select.form-control.border-primary:focus {
    outline: 1px solid #b66dff;
}

select.form-control.border-secondary,
select.form-control.loader-demo-box {
    outline: 1px solid #c3bdbd;
}

select.form-control.border-secondary:focus,
select.form-control.loader-demo-box:focus {
    outline: 1px solid #c3bdbd;
}

select.form-control.border-success {
    outline: 1px solid #1bcfb4;
}

select.form-control.border-success:focus {
    outline: 1px solid #1bcfb4;
}

select.form-control.border-info {
    outline: 1px solid #198ae3;
}

select.form-control.border-info:focus {
    outline: 1px solid #198ae3;
}

select.form-control.border-warning {
    outline: 1px solid #fed713;
}

select.form-control.border-warning:focus {
    outline: 1px solid #fed713;
}

select.form-control.border-danger {
    outline: 1px solid #fe7c96;
}

select.form-control.border-danger:focus {
    outline: 1px solid #fe7c96;
}

select.form-control.border-light {
    outline: 1px solid #f8f9fa;
}

select.form-control.border-light:focus {
    outline: 1px solid #f8f9fa;
}

select.form-control.border-dark {
    outline: 1px solid #3e4b5b;
}

select.form-control.border-dark:focus {
    outline: 1px solid #3e4b5b;
}

.form-group label {
    font-size: 0.875rem;
    line-height: 1;
    vertical-align: top;
    margin-bottom: .5rem;
}

.form-group.has-danger .form-control {
    border-color: #fe7c96;
}

.form-group .file-upload-default {
    visibility: hidden;
    position: absolute;
}

.form-group .file-upload-info {
    background: transparent;
}

* {
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

#search-box {
    display: inline-block;
    background: #fff;
    border-radius: 30px;
    border: 1px solid #000000;
    margin-bottom: 20px;
    margin-left: 677px;
}

#search-box #search-text {
    border: none;
    outline: none;
    background: none;
    font-size: 18px;
    width: 0;
    padding: 0;
}

#search-box:hover #search-text,
#search-box #search-text:valid {
    width: 300px;
    padding: 5px 0px 5px 10px;
}

#search-box #search-btn {
    background-color: #fff;
    cursor: pointer;
    border: none;
    padding: 8px;
    border-radius: 50%;
    font-size: 18px;
}