<div class="col-12 grid-margin stretch-card">
  <div class="card">
    <div class="card-body">
      <form action="" id="search-box">
        <input
          type="text"
          id="search-text"
          placeholder="Search.."
          [(ngModel)]="id"
          name="id"
        />
        <button id="search-btn" (click)="findEmployee()" type="button">
          <i class="fa-solid fa-magnifying-glass"></i>
        </button>
      </form>
      <ng-container *ngIf="model; else noDataTemplate">
        <form class="forms-sample" #form="ngForm">
          <div class="form-group">
            <label for="exampleInputName1">First Name</label>
            <input
              type="text"
              class="form-control"
              id="exampleInputName1"
              placeholder="First Name"
              [(ngModel)]="model.firstName"
              name="firstName"
            />
          </div>
          <div class="form-group">
            <label for="exampleInputName2">Last Name</label>
            <input
              type="text"
              class="form-control"
              id="exampleInputName2"
              placeholder="Last Name"
              [(ngModel)]="model.lastName"
              name="lastName"
            />
          </div>
          <div class="form-group">
            <label for="exampleInputName3">SSN</label>
            <input
              type="text"
              class="form-control"
              id="exampleInputPassword4"
              placeholder="SSN"
              [(ngModel)]="model.ssn"
              name="ssn"
            />
          </div>
          <div class="form-group">
            <label for="exampleInputPhone">Pay Rates idPay Rates</label>
            <ng-container *ngIf="payRates$ | async as payRates">
              <select
                class="form-control"
                name="payRateId"
                id="payRateId"
                [(ngModel)]="model.payRatesIdPayRates"
              >
                <option
                  *ngFor="let payRate of payRates"
                  [ngValue]="payRate.idPayRates"
                >
                  {{ payRate.payRateName }}
                </option>
              </select>
            </ng-container>
          </div>
          <button
            type="update"
            class="btn btn-gradient-primary me-2"
            (click)="onFormSubmit()"
          >
            Update
          </button>
        </form>
      </ng-container>
      <ng-template #noDataTemplate>
        <p>No data available.</p>
      </ng-template>
    </div>
  </div>
</div>
