USE [LUONGNHANVIEN]
GO
/****** Object:  Table [dbo].[LUONG]    Script Date: 10/12/2017 4:48:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LUONG](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MANHANVIEN] [int] NOT NULL,
	[HESOLUONG] [float] NULL,
	[LUONGCOBAN] [decimal](18, 0) NULL,
	[SONGAYCONG] [int] NULL,
	[THANG] [int] NULL,
	[NAM] [int] NULL,
	[LUONGTHUCLINH] [decimal](18, 0) NULL,
 CONSTRAINT [PK_LUONG] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 10/12/2017 4:48:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[MANHANVIEN] [int] IDENTITY(1,1) NOT NULL,
	[HO] [nvarchar](50) NULL,
	[TEN] [nvarchar](150) NULL,
	[NGAYSINH] [datetime] NULL,
 CONSTRAINT [PK_NHANVIEN] PRIMARY KEY CLUSTERED 
(
	[MANHANVIEN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[LUONG] ON 

INSERT [dbo].[LUONG] ([ID], [MANHANVIEN], [HESOLUONG], [LUONGCOBAN], [SONGAYCONG], [THANG], [NAM], [LUONGTHUCLINH]) VALUES (1, 1, 2, CAST(5000000 AS Decimal(18, 0)), 30, 1, 2017, CAST(6250000 AS Decimal(18, 0)))
INSERT [dbo].[LUONG] ([ID], [MANHANVIEN], [HESOLUONG], [LUONGCOBAN], [SONGAYCONG], [THANG], [NAM], [LUONGTHUCLINH]) VALUES (2, 2, 2, CAST(5000000 AS Decimal(18, 0)), 30, 1, 2017, CAST(6250000 AS Decimal(18, 0)))
INSERT [dbo].[LUONG] ([ID], [MANHANVIEN], [HESOLUONG], [LUONGCOBAN], [SONGAYCONG], [THANG], [NAM], [LUONGTHUCLINH]) VALUES (3, 3, 2, CAST(5000000 AS Decimal(18, 0)), 30, 1, 2017, CAST(6250000 AS Decimal(18, 0)))
SET IDENTITY_INSERT [dbo].[LUONG] OFF
SET IDENTITY_INSERT [dbo].[NHANVIEN] ON 

INSERT [dbo].[NHANVIEN] ([MANHANVIEN], [HO], [TEN], [NGAYSINH]) VALUES (1, N'Nguyen12', N'Van A2', CAST(N'2017-10-04 00:00:00.000' AS DateTime))
INSERT [dbo].[NHANVIEN] ([MANHANVIEN], [HO], [TEN], [NGAYSINH]) VALUES (2, N'Nguyen', N'Van B', CAST(N'1994-10-11 00:00:00.000' AS DateTime))
INSERT [dbo].[NHANVIEN] ([MANHANVIEN], [HO], [TEN], [NGAYSINH]) VALUES (3, N'Nguyen', N'Van C', CAST(N'1991-02-12 00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[NHANVIEN] OFF
ALTER TABLE [dbo].[LUONG]  WITH CHECK ADD  CONSTRAINT [FK_LUONG_NHANVIEN] FOREIGN KEY([MANHANVIEN])
REFERENCES [dbo].[NHANVIEN] ([MANHANVIEN])
GO
ALTER TABLE [dbo].[LUONG] CHECK CONSTRAINT [FK_LUONG_NHANVIEN]
GO
