<div class="col-12 grid-margin stretch-card">
  <div class="card">
    <h1 class="mt-3" style="margin-left: 40px">Employee Management</h1>
    <div class="card-body">
      <form
        class="forms-sample"
        id="profileForm"
        method="post"
        onsubmit="return validateForm()"
        (ngSubmit)="onSubmitForm()"
      >
        <div class="form-group">
          <label for="exampleInputEmploymentCode">Employment Code</label>
          <input
            type="number"
            class="form-control"
            id="employmentcode"
            name="employmentcode"
            placeholder="Employment Code"
            [(ngModel)]="model.employmentCode"
          />
          <br />
          <span class="error-message" id="employmentcode-error"></span>
        </div>
        <div class="form-group">
          <label for="exampleInputName1">First Name</label>
          <input
            type="text"
            class="form-control"
            id="fname"
            name="firstName"
            placeholder="First Name"
            [(ngModel)]="personal$.currentFirstName"
            disabled
          />
          <br />
          <span class="error-message" id="fname-error"></span>
        </div>
        <div class="form-group">
          <label for="exampleInputName2">Last Name</label>
          <input
            type="text"
            class="form-control"
            id="lname"
            name="lastName"
            [(ngModel)]="personal$.currentLastName"
            placeholder="Last Name"
            disabled
          />
          <br />
          <span class="error-message" id="lname-error"></span>
        </div>
        <div class="form-group">
          <label for="exampleInputName2">Middle Name</label>
          <input
            type="text"
            class="form-control"
            id="mname"
            name="middleName"
            [(ngModel)]="personal$.currentMiddleName"
            placeholder="Middle Name"
            
          />
          <br />
          <span class="error-message" id="mname-error"></span>
        </div>
        <div class="form-group">
          <label for="exampleInputNumber">Social Security Number</label>
          <input
            type="text"
            class="form-control"
            id="ssn"
            name="SocialSecurityNumber"
            [(ngModel)]="personal$.socialSecurityNumber"
            disabled
            min="1"
            placeholder="Social Security Number"
          />
          <br />
          <span class="error-message" id="ssn-error"></span>
        </div>
        <div class="form-group">
          <label for="exampleInputEmploymentStatus">Employment Status</label>
          <input
            type="text"
            class="form-control"
            id="employmentstatus"
            name="employmentstatus"
            [(ngModel)]="model.employmentStatus"
            placeholder="EmploymentStatus"
          />
          <br />
          <span class="error-message" id="employmentstatus-error"></span>
        </div>
        <div class="form-group">
          <label for="exampleInputHireDateForWorking"
            >Hire Date For Working</label
          ><br />
          <input
            type="date"
            id="hiredateforworking"
            name="hiredateforworking"
            placeholder="Hire Date For Working"
            style="width: 100%; height: 50px"
            [(ngModel)]="model.hireDateForWorking"
          />
          <br />
          <span class="error-message" id="bdate-error"></span>
        </div>
        <div class="form-group">
          <label for="exampleInputNumber"
            >Number Days Requirement Of Working Per Month</label
          >
          <input
            type="number"
            class="form-control"
            id="numberdaysrequirementofworkingpermonth"
            name="numberdaysrequirementofworkingpermonth"
            min="1"
            placeholder="Number Days Requirement Of Working Per Month"
            [(ngModel)]="model.numberDaysRequirementOfWorkingPerMonth"
          />
          <br />
          <span
            class="error-message"
            id="numberdaysrequirementofworkingpermonth-error"
          ></span>
        </div>
        <div class="form-group">
          <label for="exampleInputCountry">Department</label>
          <ng-container *ngIf="departments$ | async as departments">
            <select
              class="form-control"
              id="department"
              name="department"
              placeholder="Department"
              [(ngModel)]="model.department"
            >
              <option
                *ngFor="let department of departments"
                [value]="department"
              >
                {{ department }}
              </option>
            </select>
          </ng-container>
          <br />
          <span class="error-message" id="department-error"></span>
        </div>
        <div class="form-group">
          <label for="exampleInputPayRate">PayRate</label>
          <ng-container *ngIf="payRates$ | async as payRates">
            <select
              placeholder="PayRate"
              class="form-control"
              id="payrate"
              name="payrate"
              [(ngModel)]="selectedPayRate"
            >
              <option *ngFor="let payRate of payRates" [ngValue]="payRate">
                {{ payRate.payRateName }}
              </option>
            </select>
          </ng-container>
          <br />
          <span class="error-message" id="payrate-error"></span>
        </div>
        <button type="submit" class="btn me-2"><a>Add</a></button>
      </form>
    </div>
  </div>
</div>
